In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

In [35]:
from scipy.stats import zscore
import datetime

In [48]:
custTransData=pd.read_csv('customer_transaction_data.csv')

In [49]:
custTransData['coupon_discount']=custTransData['coupon_discount'].apply(lambda x: 1 if x<0 else 0 )

In [50]:
custTransData['coupon_discount'].value_counts()

0    1303280
1      21286
Name: coupon_discount, dtype: int64

In [51]:
custTransData.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0
1,2012-01-02,1501,54253,1,53.43,-13.89,0
2,2012-01-02,1501,31962,1,106.50,-14.25,0
3,2012-01-02,1501,33647,1,67.32,0.00,0
4,2012-01-02,1501,48199,1,71.24,-28.14,0

In [52]:
custTransData.drop(columns=['date', 'quantity', 'selling_price',
       'other_discount'],inplace=True)

In [53]:
custTransData=custTransData.groupby(by=['customer_id','item_id']).mean()

In [54]:
custTransData.reset_index(inplace=True)

In [55]:
custTransData.head()

   customer_id  item_id  coupon_discount
0            1     4315              0.0
1            1     4577              0.0
2            1     4796              0.0
3            1     4953              0.0
4            1     5126              0.0

In [56]:
custTransData.to_csv('custTransData.csv')