In [116]:
import numpy as np
import pandas as pd

In [185]:
train=pd.read_csv('train.csv')
campData=pd.read_csv('campData.csv')
custDemo=pd.read_csv('custDemo.csv')
custTransData=pd.read_csv('custTransData.csv')
itemData=pd.read_csv('itemData.csv')
coupMap=pd.read_csv('coupon_item_mapping.csv')
test=pd.read_csv('test_QyjYwdj.csv')

In [186]:
#train.head()
#train.isnull().sum()
#campData.head()
#campData.isnull().sum()
#custDemo.head()
#custDemo.isnull().sum()
#custTransData.head()
#custTransData.isnull().sum()
#itemData.head()
#itemData.isnull().sum()
#test.head()
#test.isnull().sum()
#coupMap.head()
#coupMap.isnull().sum()

In [187]:
test

           id  campaign_id  coupon_id  customer_id
0           3           22        869          967
1           4           20        389         1566
2           5           22        981          510
3           8           25       1069          361
4          10           17        498          811
5          12           25         44         1498
6          13           18        713          682
7          16           22       1079         1186
8          18           18        199         1023
9          31           22        583          315
10         36           18        499          464
11         37           18        223          421
12         38           22        452         1323
13         40           18        592          527
14         41           20        836          744
15         44           18        418         1545
16         47           20        671          379
17         49           20        264         1082
18         50           18        577          232
19         53           18        423          569
20         57           18        640          769
21         59           18        633          942
22         60           25        647          565
23         64           21        958          922
24         67           18        182          554
25         68           18        541         1241
26         70           18        526          770
27         73           20        720          704
28         76           20        837          322
29         78           18        497         1134
...       ...          ...        ...          ...
50196  128517           23        618           46
50197  128519           25       1109         1475
50198  128522           20        833          769
50199  128524           17        906          162
50200  128528           17        697          737
50201  128529           20        671           60
50202  128530           25        736          385
50203  128532           22        929         1017
50204  128533           22        432          954
50205  128534           20        840         1400
50206  128535           18        417          696
50207  128536           22        432         1024
50208  128541           18        633           15
50209  128552           18       1024          277
50210  128553           16        999          627
50211  128554           18        463         1194
50212  128561           18        765          699
50213  128564           18        548          931
50214  128567           25        522         1566
50215  128571           18        239          811
50216  128572           18        765          289
50217  128573           18        892          215
50218  128574           20        833         1353
50219  128578           18        245          351
50220  128583           22        869          363
50221  128584           20        843          501
50222  128588           25        415          481
50223  128591           25        596         1336
50224  128593           22        518          748
50225  128594           18        988          851

[50226 rows x 4 columns]

In [188]:
campData.drop(columns=['Unnamed: 0'],inplace=True)
custDemo.drop(columns=['Unnamed: 0'],inplace=True)
custTransData.drop(columns=['Unnamed: 0'],inplace=True)
itemData.drop(columns=['Unnamed: 0'],inplace=True)

In [189]:
test['type']='test'
train['type']='train'

In [190]:
main=pd.concat([train,test])
main.to_csv('main.csv')

C:\Users\haricharan\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [191]:
print(test.shape)
print(train.shape)
print(main.shape)

(50226, 5)
(78369, 6)
(128595, 6)

In [192]:
sub=pd.merge(coupMap,itemData,how='inner',on='item_id')

In [193]:
sub.head()

   coupon_id  item_id  brand_type  category
0        105       37    0.151541  0.438096
1          6       37    0.151541  0.438096
2         22       37    0.151541  0.438096
3         31       37    0.151541  0.438096
4        107       75    0.151541  0.438096

In [194]:
custTransData.head()

   customer_id  item_id  coupon_discount
0            1     4315              0.0
1            1     4577              0.0
2            1     4796              0.0
3            1     4953              0.0
4            1     5126              0.0

In [195]:
sub=pd.merge(sub,custTransData,how='inner',on='item_id')

In [196]:
sub2=pd.merge(main,custDemo,how='left',left_on='customer_id', right_on='customer_id')

In [197]:
sub2=pd.merge(sub2,sub,how='left',left_on='customer_id', right_on='customer_id')

In [198]:
sub2.shape

(124818695, 12)

In [127]:
sub4=pd.merge(sub3,campData,how='inner',on='campaign_id')

In [128]:
sub5=pd.merge(sub4,sub,how='inner',on='coupon_id')

In [129]:
sub5.shape

(7221659, 14)

In [130]:
sub5.drop(columns=['item_id','coupon_id','campaign_id','customer_id'],inplace=True)

In [131]:
sub5.columns

Index(['id', 'redemption_status', 'type', 'label_x', 'coupon_discount',
       'campaign_type', 'no_of_days', 'label_y', 'brand_type', 'category'],
      dtype='object')

In [132]:
train=sub5[sub5['type']=='train']
test=sub5[sub5['type']=='test']

In [134]:
train=train.groupby(by=['id']).mean()
test=test.groupby(by=['id']).mean()

In [135]:
train.reset_index(inplace=True)
test.reset_index(inplace=True)

In [137]:
train['redemption_status']=train['redemption_status'].astype(int)

In [140]:
X=train.drop('redemption_status',axis=1)
y=pd.DataFrame(train['redemption_status'])

In [142]:
from sklearn.ensemble import RandomForestClassifier

In [143]:
model=RandomForestClassifier(n_estimators=250,n_jobs=-1)

In [144]:
model.fit(X,y)

C:\Users\haricharan\Anaconda\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=250, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [147]:
test.drop(columns=['redemption_status'],inplace=True)

In [151]:
test_pred=model.predict(test)

In [157]:
test_id = test['id']
df = pd.DataFrame({'id':test_id,'redemption_status':test_pred})

In [171]:
df['redemption_status']=df['redemption_status'].astype('int64')
df.to_csv('submission-rf.csv',index=False)

In [161]:
test.shape

(30939, 8)

In [172]:
df.isnull().sum()

id                   0
redemption_status    0
dtype: int64

In [173]:
df.dtypes

id                   int64
redemption_status    int64
dtype: object

11