In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

In [3]:
from scipy.stats import zscore
import datetime

In [4]:
itemData=pd.read_csv('item_data.csv')

In [5]:
itemData.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [10]:
itemData['brand'].nunique()

5528

In [11]:
itemData['brand_type'].value_counts()

Established    62842
Local          11224
Name: brand_type, dtype: int64

In [22]:
rep=dict(itemData['category'].value_counts()/itemData['category'].value_counts().sum())
rep2=dict(itemData['brand_type'].value_counts()/itemData['brand_type'].value_counts().sum())

In [23]:
itemData['category'].replace(rep,inplace=True)
itemData['brand_type'].replace(rep2,inplace=True)

In [24]:
itemData.head()

   item_id  brand  brand_type  category
0        1      1    0.848459  0.438096
1        2      1    0.848459  0.005198
2        3     56    0.151541  0.022669
3        4     56    0.151541  0.438096
4        5     56    0.151541  0.438096

In [29]:
itemData.drop(columns=['brand'],inplace=True)

In [30]:
itemData.head()

   item_id  brand_type  category
0        1    0.848459  0.438096
1        2    0.848459  0.005198
2        3    0.151541  0.022669
3        4    0.151541  0.438096
4        5    0.151541  0.438096

In [31]:
itemData.to_csv('itemData.csv')